# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# User Specific Exclusions (Documentation & Private Files)
/docs/
TA_EXPERT_GUIDE.md
backend/.env
backend/uploads/
android/build/
android/.gradle/
android/app/build/
.vscode/

# Node.js
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/db_dump.json
backend/check_status.js
backend/find_live.js
backend/search_live.js
backend/fetch_yt.js
backend/get_ids.js
backend/get_live_now.js
yt_search.html

# Simulation
**/cctv_simulator/node_modules/
**/cctv_simulator/media/
**/cctv_simulator/temp/

# Production Logs
backend/logs/


